main header {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position-x: center;
    padding: 230px 0;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 2.2em;
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

ul {
    list-style: none;
    padding-left: 0;
}

