main header {
    background-image: url("../../../public/assets/images/hero-bg.jpg");
    background-size: cover;
    background-position-x: center;
    padding: 230px 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

