@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, strong {
    font-weight: 600;
}

a {
    text-decoration: none;
}

.btn:hover {
    filter: brightness(90%);
}

