header a {
    color: rgb(200, 200, 200);
}

header a:hover {
    text-decoration: underline;
}

header li {
    text-transform: uppercase;
}

h1 a:hover {
    text-decoration: none;
}

.active {
    font-weight: 600;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}